spring:
  config:
    import: optional:file:.env[.properties]
  application:
    name: ${SPRING_APPLICATION_NAME}
  mvc:
    hiddenmethod:
      filter:
        enabled: true
  jackson:
    serialization:
      fail-on-empty-beans: false
      indent-output: true
    deserialization:
      fail-on-unknown-properties: false
    default-property-inclusion: non_null
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: ${DB_DRIVER}
  jpa:
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO}
    show-sql: ${SPRING_JPA_SHOW_SQL}
    properties:
      hibernate:
        '[format_sql]': ${SPRING_JPA_PROPERTIES_FORMAT_SQL}
        dialect: org.hibernate.dialect.PostgreSQLDialect
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: ${SPRING_JPA_OPEN_IN_VIEW}

server:
  port: ${SERVER_PORT}
  error:
    include-message: always

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION}

logging:
  level:
    root: ${LOG_LEVEL}
    '[com.auth.pyg_auth]': ${APP_LOG_LEVEL}
    '[org.springframework.web]': ${SPRING_LOG_LEVEL}
    '[org.hibernate.SQL]': ${HIBERNATE_SQL_LOG_LEVEL}
    '[org.hibernate.type.descriptor.sql.BasicBinder]': ${HIBERNATE_BINDER_LOG_LEVEL}

# Swagger configuration
springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs