spring:
  config:
    import: optional:file:.env[.properties]
  application:
    name: pyg-owner
  mvc:
    hiddenmethod:
      filter:
        enabled: true
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/pyg_owner}
    username: ${DATABASE_USER:postgres}
    password: ${DATABASE_PASSWORD:root}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: ${SHOW_SQL:true}
    properties:
      hibernate:
        '[format_sql]': true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false

server:
  port: ${PORT:8082}
  error:
    include-message: always

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION} # 24 horas en milisegundos

logging:
  level:
    root: ${LOG_LEVEL:INFO}
    '[com.owner.pyg_owner]': ${APP_LOG_LEVEL:DEBUG}
    '[org.springframework.web]': ${SPRING_LOG_LEVEL:INFO}
    '[org.hibernate.SQL]': DEBUG
    '[org.hibernate.type.descriptor.sql.BasicBinder]': TRACE

# Configuración de Feign Client
feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000

# Configuración de Swagger/OpenAPI
springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method
    tagsSorter: alpha
    tryItOutEnabled: true
  show-actuator: true
  packages-to-scan: com.owner.pyg_owner.controllers